video-directory-backend/n8n-workflows/simple-video-agent-response-fixed.json
{
  "name": "Simple AI Video Curation Agent (Response Fixed)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-agent",
        "responseMode": "responseNode",
        "options": {
          "noResponseBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Video Agent Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "video-agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-youtube-url",
              "leftValue": "={{ $json.youtubeUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3001/api/ai-tools/create-video",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"youtubeUrl\": {{ JSON.stringify($json.youtubeUrl) }},\n  \"enhanceTags\": {{ $json.options?.enhanceTags ?? true }},\n  \"analyzeSkillLevel\": {{ $json.options?.analyzeSkillLevel ?? true }},\n  \"uploadThumbnail\": {{ $json.options?.uploadThumbnail ?? true }},\n  \"published\": {{ $json.options?.published ?? false }}\n}",
        "options": {
          "timeout": 120000,
          "retry": {
            "enabled": true,
            "maxTries": 2
          },
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "create-video",
      "name": "Create Video via Payload API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [640, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "api-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-api-response",
      "name": "Check API Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [840, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Video processed successfully",
              "type": "string"
            },
            {
              "id": "videoId",
              "name": "videoId",
              "value": "={{ $json.videoId }}",
              "type": "string"
            },
            {
              "id": "video",
              "name": "video",
              "value": "={{ $json.video }}",
              "type": "object"
            },
            {
              "id": "processing",
              "name": "processing",
              "value": "={{ $json.processing }}",
              "type": "object"
            },
            {
              "id": "results",
              "name": "results",
              "value": "={{ $json.results }}",
              "type": "object"
            },
            {
              "id": "published",
              "name": "published",
              "value": "={{ $json.video.published }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "format-success",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1040, 120]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error || 'API processing failed' }}",
              "type": "string"
            },
            {
              "id": "details",
              "name": "details",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "code",
              "name": "code",
              "value": "API_PROCESSING_ERROR",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-api-error",
      "name": "Format API Processing Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1040, 280]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "error",
              "value": "Invalid input: YouTube URL is required",
              "type": "string"
            },
            {
              "id": "code",
              "name": "code",
              "value": "INVALID_INPUT",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-validation-error",
      "name": "Format Validation Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [640, 400]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 400 }}"
        }
      },
      "id": "webhook-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1240, 200]
    }
  ],
  "connections": {
    "Video Agent Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Create Video via Payload API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video via Payload API": {
      "main": [
        [
          {
            "node": "Check API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Response": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format API Processing Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format API Processing Error": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Validation Error Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-26T00:00:00.000Z",
  "id": "simple-video-curation-agent-response-fixed",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-26T00:00:00.000Z",
      "id": "ai-agent-simple-response-fixed",
      "name": "AI Agent - Simple (Response Fixed)",
      "updatedAt": "2025-01-26T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-26T00:00:00.000Z",
  "versionId": "1"
}