video-directory-backend/mcp-server/workflows/tools/create-video-tool.json
{
  "name": "Create Video from YouTube Tool",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Extract and validate input parameters\nconst input = $input.all()[0].json;\nconst youtubeUrl = input.youtubeUrl;\nconst options = input.options || {};\n\n// Validate YouTube URL\nif (!youtubeUrl || typeof youtubeUrl !== 'string') {\n  return [{\n    json: {\n      error: 'YouTube URL is required and must be a string',\n      success: false\n    }\n  }];\n}\n\n// YouTube URL validation regex\nconst youtubeRegex = /^(https?\\:\\/\\/)?(www\\.)?(youtube\\.com|youtu\\.be)\\/.+/;\nif (!youtubeRegex.test(youtubeUrl)) {\n  return [{\n    json: {\n      error: 'Invalid YouTube URL format',\n      success: false\n    }\n  }];\n}\n\n// Prepare the request payload\nconst payload = {\n  youtubeUrl: youtubeUrl,\n  enhanceTags: options.enhanceTags !== false, // default true\n  analyzeSkillLevel: options.analyzeSkillLevel !== false, // default true\n  uploadThumbnail: options.uploadThumbnail !== false, // default true\n  published: options.published === true // default false\n};\n\nreturn [{\n  json: {\n    payload: payload,\n    success: true\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "check-validation",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [400, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/api/ai-tools/create-video",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "sendBody": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{}",
        "bodyParameters": {
          "parameters": [
            {
              "name": "youtubeUrl",
              "value": "={{ $json.payload.youtubeUrl }}"
            },
            {
              "name": "enhanceTags",
              "value": "={{ $json.payload.enhanceTags }}"
            },
            {
              "name": "analyzeSkillLevel", 
              "value": "={{ $json.payload.analyzeSkillLevel }}"
            },
            {
              "name": "uploadThumbnail",
              "value": "={{ $json.payload.uploadThumbnail }}"
            },
            {
              "name": "published",
              "value": "={{ $json.payload.published }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-create-video-api",
      "name": "Call Create Video API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "payload-cms-auth",
          "name": "Payload CMS Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": "={{ $json.success === true }}",
              "type": "boolean"
            },
            {
              "id": "video",
              "name": "video",
              "value": "={{ $json.video }}",
              "type": "object"
            },
            {
              "id": "videoId",
              "name": "videoId", 
              "value": "={{ $json.videoId }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Video created successfully with AI enhancements",
              "type": "string"
            },
            {
              "id": "processing",
              "name": "processing",
              "value": "={{ $json.processing }}",
              "type": "object"
            },
            {
              "id": "published",
              "name": "published",
              "value": "={{ $json.video?.published || false }}",
              "type": "boolean"
            }
          ]
        }
      },
      "id": "format-success-response",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [800, 100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error || 'API request failed' }}",
              "type": "string"
            },
            {
              "id": "details",
              "name": "details",
              "value": "={{ $json.details || 'No additional details available' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-api-error",
      "name": "Format API Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [800, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-validation-error",
      "name": "Format Validation Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [600, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Call Create Video API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Create Video API": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "MCP Tool",
      "id": "mcp-tool"
    }
  ]
}
