video-directory-backend/mcp-server/workflows/tools/get-video-tool.json
{
  "name": "Get Video Details Tool",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Extract and validate input parameters\nconst input = $input.all()[0].json;\nconst videoId = input.videoId;\n\n// Validate video ID\nif (!videoId || typeof videoId !== 'string') {\n  return [{\n    json: {\n      error: 'Video ID is required and must be a string',\n      success: false\n    }\n  }];\n}\n\n// Check if video ID is valid (basic validation)\nif (videoId.length < 5) {\n  return [{\n    json: {\n      error: 'Invalid video ID format',\n      success: false\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    videoId: videoId,\n    success: true\n  }\n}];"
      },
      "id": "validate-video-id",
      "name": "Validate Video ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "check-validation",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [400, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:3001/api/videos/{{ $json.videoId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-video-from-api",
      "name": "Get Video from API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "payload-cms-auth",
          "name": "Payload CMS Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "video",
              "name": "video",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Video retrieved successfully",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-success-response",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [800, 100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "error",
              "value": "Video not found or API error",
              "type": "string"
            },
            {
              "id": "details",
              "name": "details",
              "value": "={{ $json.message || 'Video ID may not exist' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-api-error",
      "name": "Format API Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [800, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-validation-error",
      "name": "Format Validation Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [600, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Validate Video ID": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Get Video from API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video from API": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "MCP Tool",
      "id": "mcp-tool"
    }
  ]
}
